<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>応用課題2</title>
</head>
<body>
    <h1>新規登録</h1>
    <form action="/create" method="POST">
        <label for=" name">ユーザ名：</label>
        <input type="text" name="name" id="name">
        <label for="password">パスワード：</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="送信">
    </form>

    <hr>
    <a href="/">ログインに戻る</a>
</body>
</html>
